<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Moview - Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site Description Here">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/flickity.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/jquery.steps.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i%7CMaterial+Icons" rel="stylesheet">

        <style type="text/css" media="screen">
    @font-face {
    font-family: 'iconsmind';
    src:url('fonts/iconsmind.eot');
    src:url('fonts/iconsmind.eot?#iefix') format('embedded-opentype'),
        url('fonts/iconsmind.ttf') format('truetype'),
        url('fonts/iconsmind.woff') format('woff'),
        url('fonts/iconsmind.svg#icofonts') format('svg');
    font-weight: normal;
    font-style: normal;
}   

 @font-face {
    font-family: 'stack-interface';
    src:url('fonts/stack-interface.eot');
    src:url('fonts/stack-interface.eot?#iefix') format('embedded-opentype'),
        url('fonts/stack-interface.ttf') format('truetype'),
        url('fonts/stack-interface.woff') format('woff'),
        url('fonts/stack-interface.svg#icofonts') format('svg');
    font-weight: normal;
    font-style: normal;
}   
        </style>
    </head>
    <body class=" ">
        <a id="start"></a>
        <div class="nav-container ">
            <div class="bar bar--sm visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3 col-sm-2">
                            <a href="index.html">
                                <img class="logo logo-dark" alt="logo" src="assets/logo-dark.png" />
                                <img class="logo logo-light" alt="logo" src="assets/logo-light.png" />
                            </a>
                        </div>
                        <div class="col-xs-9 col-sm-10 text-right">
                            <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                                <i class="icon icon--sm stack-interface stack-menu"></i>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
            <!--end bar-->
            <nav id="menu1" class="bar bar--sm bar-1 hidden-xs bar--absolute bar--transparent">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1 col-sm-2 hidden-xs">
                            <div class="bar__module">
                                <a href="index.html">
                                    <img class="logo logo-dark" alt="logo" src="assets/logo-dark.png" />
                                    <img class="logo logo-light" alt="logo" src="assets/logo-light.png" />
                                </a>
                            </div>
                            <!--end module-->
                        </div>
                        <div class="col-md-11 col-sm-12" style="text-align:right;">
                            <div class="bar__module">
                                <ul class="menu-horizontal text-right">
                                    <li class="dropdown">
                                        <span class="dropdown__trigger" >Home</span>
                                        
                                        <!--end dropdown container-->
                                    </li>
                                    <li class="dropdown">
                                        <span class="dropdown__trigger">Pages</span>
                                        
                                        <!--end dropdown container-->
                                    </li>
                                    
                                    
                                    <li class="dropdown">
                                        <span class="dropdown__trigger">Blocks</span>
                                        
                                        <!--end dropdown container-->
                                    </li>
                                    <li class="dropdown">
                                        <span class="dropdown__trigger">Elements</span>
                                        
                                        <!--end dropdown container-->
                                    </li>
                                </ul>
                            </div>
                            <!--end module-->
                            <div class="bar__module">
                                <a class="btn btn--sm type--uppercase" href="#">
                                    <span class="btn__text">
                                        Log In
                                    </span>
                                </a>
                                <a class="btn btn--sm btn--primary type--uppercase" href="#">
                                    <span class="btn__text">
                                        Sign Up
                                    </span>
                                </a>
                            </div>
                            <!--end module-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </nav>
            <!--end bar-->
        </div>
        <div class="main-container">
            <section class="text-center height-80 imagebg" data-overlay="2">
                <div class="background-image-holder">
                    <img alt="background" src="assets/slider-bg.jpg" />
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="typed-headline">
                                <span class="h1 inline-block">  Moview &mdash; Encyclopedia For</span>
                                <span class="h1 inline-block typed-text typed-text--cursor color--primary" data-typed-strings="Movies,TV Shows,Animated Movies, Cartoons,Documentary,Upcoming Movies, Local Movies, Different Movies"></span>
                            </div>
                            <p class="lead">
                                With this website you write review for any movie and rate it good or bad
                                <br class="hidden-xs hidden-sm" /> the ratings of each movie will be automatically generated by the average ratings counts.
                            </p>
                            <a class="btn btn--primary type--uppercase" href="#">
                                <span class="btn__text">
                                    Read More
                                </span>
                            </a>
                            <span class="block type--fine-print">or
                                <a href="index.html">Log In Now</a>
                            </span>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="video video-1 text-center bg--secondary space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="modal-instance">
                                <div class="video-play-icon video-play-icon--sm modal-trigger box-shadow"></div>
                                <div class="modal-container">
                                    <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                                        <iframe src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                                    </div>
                                    <!--end of modal-content-->
                                </div>
                                <!--end of modal-container-->
                            </div>
                            <!--end of modal instance-->
                            <h2>
                                Build professional, capable sites fast.
                            </h2>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <h2>All the tools you'll need</h2>
                            <p class="lead">
                                Whether you’re building a welcome mat for your SaaS or a clean, corporate portfolio, Stack has your design needs covered.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="feature">
                                <img alt="Image" src="assets/cowork-6.jpg" class="border--round" />
                                <h4>Startups</h4>
                                <p>
                                    Quickly launch a professional site &mdash; minimal effort, maximum impact.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature">
                                <img alt="Image" src="assets/cowork-7.jpg" class="border--round" />
                                <h4>Agencies</h4>
                                <p>
                                    Deliver results to your clients faster than ever with rapid page building.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature">
                                <img alt="Image" src="assets/knowledge-1.jpg" class="border--round" />
                                <h4>Freelancers</h4>
                                <p>
                                    Stack is your silent partner, it does the heavy-lifting while you take the glory!
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-md-6">
                            <div class="cta">
                                <h2>Make your site stand out</h2>
                                <a class="btn btn--primary type--uppercase" href="#">
                                    <span class="btn__text">
                                        Purchase Stack Now
                                    </span>
                                    <span class="label">$17 USD</span>
                                </a>
                                <p class="type--fine-print">or check out
                                    <a href="index.html">more demos</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="feature">
                                <i class="icon icon-Sidebar-Window color--primary"></i>
                                <h4>Interactive Elements</h4>
                                <p>
                                    With rich modal and notification functionality and a robust suite of options, Stack makes building feature-heavy pages simple and enjoyable.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature">
                                <i class="icon icon-Duplicate-Window color--primary"></i>
                                <h4>Save Development Time</h4>
                                <p>
                                    Drastically reduce the time it takes to move from initial concept to production-ready with Stack and Variant Page Builder. Your clients will love you for it!
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature">
                                <i class="icon icon-Code-Window color--primary"></i>
                                <h4>Friendly Support</h4>
                                <p>
                                    Our customers love the comfort that comes with six-months free support. Our dedicated support forum makes interacting with us hassle-free and efficient.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <h2>Pricing Plans</h2>
                            <p class="lead">
                                We offer a range of plans that suit a variety of needs. All plans are billed monthly and can be upgraded or downgraded at any time.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="pricing-section-2 text-center ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="pricing pricing-3">
                                <div class="pricing__head bg--secondary boxed">
                                    <h5>Free</h5>
                                    <span class="h1">
                                        <span class="pricing__dollar">$</span>0</span>
                                    <p class="type--fine-print">Per Month, AUD.</p>
                                </div>
                                <ul>
                                    <li>
                                        <span>Anywhere Access</span>
                                    </li>
                                    <li>
                                        <span>1GB Online Storage</span>
                                    </li>
                                </ul>
                            </div>
                            <!--end pricing-->
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="pricing pricing-3">
                                <div class="pricing__head bg--secondary boxed">
                                    <h5>Light</h5>
                                    <span class="h1">
                                        <span class="pricing__dollar">$</span>19</span>
                                    <p class="type--fine-print">Per Month, AUD.</p>
                                </div>
                                <ul>
                                    <li>
                                        <span>Anywhere Access</span>
                                    </li>
                                    <li>
                                        <span>4GB Online Storage</span>
                                    </li>
                                    <li>
                                        <span>Import User Data</span>
                                    </li>
                                    <li>
                                        <span>Automatic Transfer</span>
                                    </li>
                                    <li>
                                        <span>24/7 Support</span>
                                    </li>
                                </ul>
                            </div>
                            <!--end pricing-->
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="pricing pricing-3">
                                <div class="pricing__head bg--primary boxed">
                                    <span class="label">Value</span>
                                    <h5>Medium</h5>
                                    <span class="h1">
                                        <span class="pricing__dollar">$</span>29</span>
                                    <p class="type--fine-print">Per Month, AUD.</p>
                                </div>
                                <ul>
                                    <li>
                                        <span>Anywhere Access</span>
                                    </li>
                                    <li>
                                        <span>10GB Online Storage</span>
                                    </li>
                                    <li>
                                        <span>Import User Data</span>
                                    </li>
                                    <li>
                                        <span>Automatic Transfer</span>
                                    </li>
                                    <li>
                                        <span>24/7 Support</span>
                                    </li>
                                    <li>
                                        <span>10 Unique Users</span>
                                    </li>
                                </ul>
                            </div>
                            <!--end pricing-->
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="pricing pricing-3">
                                <div class="pricing__head bg--secondary boxed">
                                    <h5>Heavy</h5>
                                    <span class="h1">
                                        <span class="pricing__dollar">$</span>79</span>
                                    <p class="type--fine-print">Per Month, AUD.</p>
                                </div>
                                <ul>
                                    <li>
                                        <span>Anywhere Access</span>
                                    </li>
                                    <li>
                                        <span>Unlimited Storage</span>
                                    </li>
                                    <li>
                                        <span>Import User Data</span>
                                    </li>
                                    <li>
                                        <span>Automatic Transfer</span>
                                    </li>
                                    <li>
                                        <span>24/7 Support</span>
                                    </li>
                                    <li>
                                        <span>100 Unique Users</span>
                                    </li>
                                    <li>
                                        <span>Event Scheduling</span>
                                    </li>
                                    <li>
                                        <span>No Downtime</span>
                                    </li>
                                </ul>
                            </div>
                            <!--end pricing-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center imagebg">
                <div class="background-image-holder">
                    <img alt="background" src="/assets/hero-3.jpg" />
                </div>
                <div class="container">
                    <div class="row">
                        <h2>Join over 20,000 satisfied Medium Rare customers</h2>
                        <form action="//mrare.us8.list-manage.com/subscribe/post?u=77142ece814d3cff52058a51f&amp;id=f300c9cce8" data-success="Thanks for signing up.  Please check your inbox for a confirmation email." data-error="Please provide your name and email address and agree to the terms.">
                            <div class="col-md-3 col-md-offset-2 col-sm-4">
                                <input class="validate-required" type="text" name="NAME" placeholder="Your Name" />
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <input class="validate-required validate-email" type="email" name="EMAIL" placeholder="Email Address" />
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <button type="submit" class="btn btn--primary">Subscribe Now</button>
                            </div>
                            <div class="col-sm-12">
                                <input class="validate-required" type="checkbox" name="group[13737][1]" />
                                <span>I have read and agree to the
                                    <a href="#">terms and conditions</a>
                                </span>
                            </div>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_77142ece814d3cff52058a51f_f300c9cce8" tabindex="-1" value="">
                            </div>
                        </form>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center cta cta-4 space--xxs border--bottom imagebg" data-gradient-bg='#4876BD,#5448BD,#8F48BD,#BD48B1'>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="label label--inline">Hot!</span>
                            <span>Over 280 interface blocks, 140 demo pages and Variant Page Builder.
                                <a href="#">Purchase Stack</a> for $17 USD.</span>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <footer class="footer-7 text-center-xs bg--secondary  ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="type--fine-print">&copy;
                                <span class="update-year"></span> Medium Rare &mdash; All Rights Reserved</span>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <ul class="social-list list-inline">
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-google icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-twitter icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-facebook icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-instagram icon icon--xs"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
        </div>
        <!--<div class="loader"></div>-->
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/flickity.min.js"></script>
        <script src="js/easypiechart.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/typed.min.js"></script>
        <script src="js/datepicker.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/ytplayer.min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/granim.min.js"></script>
        <script src="js/jquery.steps.min.js"></script>
        <script src="js/countdown.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>